<div class="charts-route">

  <div class="lists">
    <app-region-select [allCountryRegions]="allCountryRegions$ | async"
                       [selection]="selectedCountries$ | async"
                       (selectionChange)="onConutrySelectionChange($event)"
    ></app-region-select>
  </div>

  <div class="data">

    <div class="filter">
      <div class="metric">
        <div *ngFor="let metric of allMetrics"
             [class.selected]="(selectedMetric$ | async) === metric"
             (click)="onMetricChange(metric)"
        >
          {{ metric }}
        </div>
      </div>

      <div class="interpolation">
        <div *ngFor="let interpolation of allInterpolation"
             [class.selected]="(selectedInterpolation$ | async) === interpolation"
             (click)="onInterpolationChange(interpolation)"
        >
          {{ interpolation }}
        </div>
      </div>

    </div>

    <div *ngIf="loadingChartData$ | async">
      Chargement...
    </div>

    <app-chart [data]="chartData$ | async"
               [regions]="selectedCountries$ | async"
               [valueLabel]="valueLabel$ | async"
    ></app-chart>
  </div>

</div>
