.country-group {


  .checkbox, .expand-button {
    font-size: 1.2em;
    padding: .5em 1em;
    width: 1.5em;
    text-align: center;
    overflow: hidden;

  }

  .checkbox:hover, .expand-button>*:hover {
    cursor: pointer;
    background-color: lightgray;
  }

  > .country, .region {
    display: flex;
    align-items: center;

    > * {
      flex: 0 0 auto;
    }

    .label {
      flex: 1 1 auto;
    }

    &:hover {
      background-color: rgba(211, 211, 211, 0.5);
    }
  }

  .region {
    margin-left: 1em;
    font-size: .9em;
  }
}
