<div class="country-list">
  <div class="filter">
    <input [ngModel]="query$ | async"
           (ngModelChange)="query$.next($event)"
           placeholder="Find country..."
           name="filter"
    >
  </div>

  <div *ngFor="let c of filteredCountries$ | async"
       class="country-group"
  >
    <div class="country">
      <div class="expand-button">
        <div *ngIf="c.regions?.length > 1"
             (click)="c.expanded = !c.expanded">
          <span *ngIf="c.expanded">▼</span>
          <span *ngIf="!c.expanded">▶ </span>
        </div>
      </div>
      <div class="label">
        {{ c.country }}
        <span *ngIf="c.info">
          ({{c.info.population | number:'.0'}})
        </span>
      </div>
      <div class="checkbox" (click)="switchCOuntrySelection(c)"
           [class.selected]="c.selected === true"
           [class.partialSelected]="c.selected === 'partial'">
        <span *ngIf="c.selected === true">✔</span>
        <span *ngIf="c.selected === 'partial'">✔</span>
        <span *ngIf="c.selected === false">□</span>
      </div>
    </div>
    <div class="regions" *ngIf="c.regions.length > 1 && c.expanded">
      <div *ngFor="let r of c.regions" class="region"
           [class.selected]="r.selected"
      >
        <div class="label">
          {{ r.region }}
          <span *ngIf="r.info">
          ({{r.info.population | number:'.0'}})
        </span>
        </div>
        <div class="checkbox" (click)="switchRegionSelection(c, r)"
             [class.selected]="r.selected === true">
          <span *ngIf="r.selected === true">✔</span>
          <span *ngIf="r.selected === false">□</span>
        </div>
      </div>
    </div>
  </div>
</div>
